.header .container a {
    text-decoration: none;
}

.header .container h1 {
    color: #000;
    transition: 0.4s;
}

.header .container h1:hover {
    color: #ff5900;
}

.product_component .col-md-4 .card {
    transition: 0.4s;
    margin-top: 30px
}

.product_component .col-md-4 .card:hover {
    box-shadow: 0 10px 10px 0 #555;
}



.product_component .col-md-4 .card img {
    width: auto !important;
    max-width: 100%;
    height: 250px;
    display: block;
    margin: auto;
}

.product_component .col-md-4 a {
    text-decoration: none;
}

.product_component .col-md-4 .card .card-title {
    color: #000;
}

.product_component .col-md-4 .card .card-text{
    color: #d8d8d8;
    font-weight: 700;
}


@media screen and (max-width: 330px) {
    .product_component .col-md-4 .card img {
        width: 100%;
        height: auto;
    }
}